<footer class="border-top text-center small text-muted py-3">
    <p class="m-0">Copyright &copy; 2020 <a href="/" class="text-muted">Fighting Corona</a>.
       All rights reserved.</p>
  </footer>
  
</body>
</html>