<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Fighting Corona</title>
  <link rel="stylesheet" href="/main.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body>

<nav class="navbar">
    <div class="container" id="js-navbar-toggle">
        <div class="bar1"></div>
        <div class="bar2"></div>
        <div class="bar3"></div>
      </div>
      
    <a href="/" class="logo">Fighting Corona</a>
    <ul class="main-nav" id="js-menu">
        <li>
            <a onclick="liveCount()" class="nav-links">Corona Count</a>
        </li>
        <li>
            <a href="/quarantine" class="nav-links">Quarantine</a>
        </li>
        <li>
            <a href="/centers" class="nav-links">Centers</a>
        </li>
        
        <li>
            <a href="/faqs" class="nav-links">FAQs</a>
        </li>
        <li>
            <a onclick="helpline()" class="nav-links">Helpline</a>
        </li>
        
    </ul>
</nav>

<script>
    function liveCount() {
        window.open( 
                "https://bing.com/covid", "_blank"); 
    }
    function helpline() {
        window.open( 
                "https://www.mohfw.gov.in/coronvavirushelplinenumber.pdf", "_blank"); 
    }
</script>