<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Fighting Corona</title>
  <link rel="stylesheet" href="/main.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body>

<nav class="navbar">
    <span class="navbar-toggle navbar-default" id="js-navbar-toggle">
        <i class="fas fa-bars"></i>
    </span>
    <a href="#" class="logo">Fighting Corona</a>
    <ul class="main-nav" id="js-menu">
        <li>
            <a href="/quarantine" class="nav-links">Quarantine</a>
        </li>
        <li>
            <a href="/faqs" class="nav-links">FAQs</a>
        </li>
        <li>
            <a href="/helpline" class="nav-links">Helpline</a>
        </li>
        <li>
            <a href="/centers" class="nav-links">Centers</a>
        </li>
        <li>
            <a onclick="liveCount()" class="nav-links">Corona Count</a>
        </li>
    </ul>
</nav>

<script>
    function liveCount() {
        window.open( 
                "https://bing.com/covid", "_blank"); 
    }
</script>