<%- include('includes/header') %>

<div class="story-left">

<style>
.story-left .story-list-col ul li .relimg{ position: relative}
.story-left .story-list-col ul li .relimg img.icon-img {margin-left: 10px;position: absolute;right: 44px;bottom: 2px;} 
.listcont a{ text-align: left; width: 100%; float: left; padding: 0px; margin: 0px;}
</style>

<figure class="center-image">
    <img src="https://i.imgur.com/wZCJ35S.jpg" alt="Trulli" style="width:100%">
    <figcaption style="text-align: center;">Image Credit : ICMR</figcaption>
  </figure> 

<div class="center-list">
<p></p><p>Any individual suspected of having coronavirus (COVID-19) can be tested in over 50 laboratories in India, according to <mark data-markjs="true" class="hindsightUnderline" data-ht-entity-name="Indian Council of Medical Research" tabindex="0">Indian Council of Medical Research</mark> (ICMR) </p>
<ul><li>All India Institute Medical Sciences (AIIMS)</li>
    <li>National Centre for Disease Control (NCDC)</li>
</ul>
<b>MAHARASHTRA</b>
<p><b></b></p>
<ul><li>Indira Gandhi Government Medical College, Nagpur </li>
<li>Kasturba Hospital for Infectious Diseases, Mumbai</li>
</ul><b>RAJASTHAN</b><ul><li>Sawai Man Singh, Jaipur</li>
<li>Dr. S.N Medical College, Jodhpur</li>
<li>Jhalawar Medical College, Jhalawar</li>
<li>SP Med. College, Bikaner</li>
<li>RNT Medical College, Udaipur</li>
</ul>
<p><b>TAMIL NADU</b></p><p><b></b></p>
<ul><li>King's Institute of Preventive Medicine &amp; Research, Chennai </li>
<li>Government Medical College, Theni</li>
<li>Tirunelveli Medical College, Tirunelveli</li>
<li>Govt. Medical college, Thiruvaru</li></ul>
<b>UTTAR PRADESH</b><ul><li>King's George Medical University, Lucknow</li>
<li>Institute of Medical Sciences, Banaras Hindu University, Varanasi &nbsp;</li>
<li>Jawaharlal Nehru Medical College, Aligarh</li></ul>
<b>UTTARAKHAND</b><ul><li>Government Medical College, Haldwani</li></ul>
<p><b>WEST BENGAL</b></p>
<ul><li>National Institute of Cholera and Enteric Diseases, Kolkata</li>
<li>IPGMER, Kolkata</li></ul><p>
<b>MADHYA PRADESH</b></p><p><b></b></p><ul><li>All India Institute Medical Sciences, Bhopal</li>
<li>National Institute of Research in Tribal Health (NIRTH), Jabalpur </li></ul>
<b>KERALA</b><ul><li>National Institute of Virology Field Unit</li>
<li>Govt. Medical College, Thriuvananthapuram</li>
<li>Govt. Medical College, Kozhikhode</li><li>Govt. Medical College, Thrissur</li></ul>
<p><b>KARNATAKA</b></p><ul><li>Bangalore Medical College &amp; Research Institute, Bangalore 
&nbsp;</li><li>National Institute of Virology Field Unit Bangalore</li>
<li>Mysore Medical College &amp; Research Institute, Mysore</li>
<li>Hassan Inst. of Med. Sciences, Hassan</li><li>Shimoga Inst. of Med. Sciences, Shivamogga</li>
</ul><b></b><p><b>GUJARAT</b></p>
<ul><li>BJ Medical College, Ahmedabad</li>
<li>M.P.Shah Government Medical College, Jamnagar</li></ul>
<p><b>HARYANA</b></p><ul><li>BPS Govt Medical College, Sonipat</li>
<li>Pt. B.D. Sharma Post Graduate Inst. of Med. Sciences, Rohtak</li></ul>
<p><b>HIMACHAL PRADESH</b></p>
<p><b></b></p><ul><li>Indira Gandhi Medical College, Shimla, Himachal Pradesh</li>
<li>Dr. Rajendra Prasad Govt. Med. College, Kangra, Tanda</li></ul><b></b>
<p><b></b></p><p><b>JAMMU AND KASHMIR</b></p><p><b></b></p>
<ul><li>Sher-e- Kashmir Institute of Medical Sciences, Srinagar &nbsp;</li>
    <li>Government Medical College, Jammu</li><li>Government Medical College, Srinagar</li>
</ul><p><b>JHARKHAND</b></p><p><b></b></p><ul><li>MGM Medical College, Jamshedpur</li>
</ul><b></b><p><b></b></p><p><b>MEGHALAYA</b></p><p><b></b></p><ul><li>NEIGRI of Health and Medical Sciences, Shillong</li></ul><b></b><p><b></b></p><p><b>MANIPUR</b></p><ul><li>J N Inst. of Med. Sciences Hospital, Imphal-East, Manipur</li><li>Regional Institute of Medical Sciences, Imphal</li></ul><p><b>ODISHA</b></p><ul><li>Regional Medical Research Center, Bhubaneswar&nbsp; &nbsp;</li></ul><p><b>PUNJAB</b></p><p><b></b></p><ul><li>Government Medical College, Patiala</li><li>Government Medical College, Amritsar</li></ul><p><b>PUDUCHERRY</b></p><p><b></b></p><ul><li>Jawaharlal Institute of Postgraduate Medical Education &amp; Research, Puducherry</li></ul><p><b>TELANGANA</b></p><p><b></b></p><ul><li>Gandhi Medical College, Secunderabad </li><li>Osmania Medical College, Hyderabad</li></ul><p><b>TRIPURA</b></p><p><b></b></p><ul><li>Government Medical College, Agartala</li></ul><p><b>BIHAR</b></p><ul><li>Rajendra Memorial Research Institute of Medical Sciences, Patna&nbsp; &nbsp;</li></ul><p><b>CHANDIGARH&nbsp; </b></p><p><b></b></p><ul><li>Post Graduate Institute of Medical Education &amp; Research, Chandigarh&nbsp; &nbsp;</li></ul><p><b>CHHATTISGARH</b></p><p><b></b></p><ul><li>All India Institute&nbsp; Medical Sciences, Raipur</li></ul><p><b>ANDAMAN and NICOBAR ISLANDS </b></p><p><b></b></p><ul><li>Regional Medical Research Centre, Port Blair, Andaman and Nicobar </li></ul><p><b>ANDHRA PRADESH</b></p><p><b></b></p><ul><li>Sri Venkateswara Institute of Medical Sciences, Tirupati</li><li>Andhra Medical College, Visakhapatnam</li><li>GMC, Anantapur</li><li>Sidhartha Medical College, Vijayawada</li><li>Rangaraya Medical College, Kakinada</li></ul><b>ASSAM</b><ul><li>Gauhati Medical College, Guwahati</li><li>Regional Medical Research Center, Dibrugarh</li><li>Silchar Medical College, Silchar</li><li>Jorhat Medical College, Jorhat</li></ul>
</div>

<script>
    let mainNav = document.getElementById('js-menu');let navBarToggle = document.getElementById('js-navbar-toggle');
  navBarToggle.addEventListener('click', function () {
      mainNav.classList.toggle('active');});
</script>
  
<%- include('includes/footer') %>
  