<%- include('includes/header') %>

<h1 style="text-align: center; width: 100%;"> FAQs </h1>

<ul class="list-faqs">
<li>
    <h2>Q: What is COVID-19?</h2>
    <p>A: COVID-19 is a virus strain, first identified in Wuhan, Hubei Province, China, that has only spread in people since December 2019.

        Health experts are closely monitoring the situation because little is known about this new virus and it has the potential to cause severe illness and pneumonia in some people.</p>
</li>
<li>
    <h2>Q: How does COVID-19 spread and what are the symptoms?</h2>
    <p>A: COVID-19 is primarily spread through respiratory droplets, which means to become infected, people generally must be within six feet of someone who is contagious and come into contact with these droplets. It may be possible that a person can get COVID-19 by touching a surface or object that has the virus on it and then touching their own mouth, nose, or possibly their eyes, Symptoms of COVID-19 appear within two to 14 days after exposure and include fever, cough, and shortness of breath.</p>
</li>
<li>
    <h2>Q: How long does it take for symptoms of the COVID-19 to appear?</h2>
    <p>A: WHO believes that symptoms of COVID-19 may appear in as few as two days, or as long as 14 days after exposure.</p>
</li>

<li>
    <h2>Q: How is COVID-19 treated?</h2>
    <p>A: There is currently no FDA approved medication for COVID-19. People infected with this virus should receive supportive care such as rest, fluids and fever control, to help relieve symptoms. For severe cases, treatment should include care to support vital organ functions.</p>
</li>

<li>
    <h2>Q: Should I wear a face mask? Will that help protect me?</h2>
    <p>A:  If you are sick: You should wear a facemask when you are around other people (e.g., sharing a room or vehicle) and before you enter a healthcare provider’s office. If you are not able to wear a facemask (for example, because it causes trouble breathing), then you should do your best to cover your coughs and sneezes, and people who are caring for you should wear a facemask if they enter your room. Learn what to do if you are sick.
    </p>
       <p> If you are not sick: You do not need to wear a facemask unless you are caring for someone who is sick (and they are not able to wear a facemask). Facemasks may be in short supply and they should be saved for caregivers.</p>
</li>

<li>
    <h2>Q: Can I bring someone with me to my scheduled appointment?  </h2>   <p>A: At this time, no guests or visitors are permitted to accompany adult patients, unless special assistance is required.
        Pediatric patients, elderly patients and those with special needs are permitted to bring no more than one guest. No more than two guests will be permitted per family or group.
        Visitors who are sick, have a fever, or a confirmed case of COVID-19 should not visit or accompany a patient.
        Visitors must wash their hands (or use sanitizer) before and after entering clinical areas and waiting rooms.
        </p>
</li>

<li>
    <h2>Q: How likely am I to catch COVID-19? </h2>
    <p>The risk depends on where you  are and more specifically, whether there is a COVID-19 outbreak unfolding there.

        For most people in most locations the risk of catching COVID-19 is still low. However, there are now places around the world (cities or areas) where the disease is spreading. For people living in, or visiting, these areas the risk of catching COVID-19 is higher. Governments and health authorities are taking vigorous action every time a new case of COVID-19 is identified. Be sure to comply with any local restrictions on travel, movement or large gatherings. Cooperating with disease control efforts will reduce your risk of catching or spreading COVID-19.
        
        COVID-19 outbreaks can be contained and transmission stopped, as has been shown in China and some other countries. Unfortunately, new outbreaks can emerge rapidly. It’s important to be aware of the situation where you are or intend to go. WHO publishes daily updates on the COVID-19 situation worldwide.</p>
</li>

<li>
    <h2>Q: Who is at risk of developing severe illness? </h2>
    <p>While we are still learning about how COVID-2019 affects people, older persons and persons with pre-existing medical conditions (such as high blood pressure, heart disease, lung disease, cancer or diabetes)  appear to develop serious illness more often than others. </p>
</li>

<li>
    <h2>Q: Is there a vaccine, drug or treatment for COVID-19? </h2>
    <p>Not yet. To date, there is no vaccine and no specific antiviral medicine to prevent or treat COVID-2019. However, those affected should receive care to relieve symptoms. People with serious illness should be hospitalized. Most patients recover thanks to supportive care.

        Possible vaccines and some specific drug treatments are under investigation. They are being tested through clinical trials. WHO is coordinating efforts to develop vaccines and medicines to prevent and treat COVID-19.
        The most effective ways to protect yourself and others against COVID-19 are to frequently clean your hands, cover your cough with the bend of elbow or tissue, and maintain a distance of at least 1 meter (3 feet) from people who are coughing or sneezing.</p>
</li>

<li>
    <h2>Q: Should I wear a mask to protect myself? </h2>
    <p>Only wear a mask if you are ill with COVID-19 symptoms (especially coughing) or looking after someone who may have COVID-19. Disposable face mask can only be used once. If you are not ill or looking after someone who is ill then you are wasting a mask. There is a world-wide shortage of masks, so WHO urges people to use masks wisely.

        WHO advises rational use of medical masks to avoid unnecessary wastage of precious resources and mis-use of masks
        The most effective ways to protect yourself and others against COVID-19 are to frequently clean your hands, cover your cough with the bend of elbow or tissue and maintain a distance of at least 1 meter (3 feet) from people who are coughing or sneezing. 
    </p>
<li>
    <h2>Q: How is the virus spread? </h2>
    <p>Human coronaviruses are spread from someone infected with COVID-19 virus to other close contacts with that person through contaminated droplets spread by coughing or sneezing, or by contact with contaminated hands, surfaces or objects.
        The time between when a person is exposed to the virus and when symptoms first appear is typically 5 to 6 days, although may range from 2 to 14 days. For this reason, people who might have been in contact with a confirmed case are being asked to self-isolate for 14 days.
        Most COVID-19 cases appear to be spread from people who have symptoms. A small number of people may have been infectious before their symptoms developed.</p>
</li>
<li>
    <h2>Q:  How to put on, use, take off and dispose of a mask? </h2>
    <p>    Remember, a mask should only be used by health workers, care takers, and individuals with respiratory symptoms, such as fever and cough.
        Before touching the mask, clean hands with an alcohol-based hand rub or soap and water
        Take the mask and inspect it for tears or holes.
        Orient which side is the top side (where the metal strip is).
        Ensure the proper side of the mask faces outwards (the coloured side).
        Place the mask to your face. Pinch the metal strip or stiff edge of the mask so it moulds to the shape of your nose.
        Pull down the mask’s bottom so it covers your mouth and your chin.
        After use, take off the mask; remove the elastic loops from behind the ears while keeping the mask away from your face and clothes, to avoid touching potentially contaminated surfaces of the mask.
        Discard the mask in a closed bin immediately after use.
        Perform hand hygiene after touching or discarding the mask – Use alcohol-based hand rub or, if visibly soiled, wash your hands with soap and water.</p>
</li>

<li>
    <h2>Q: Can humans become infected with the COVID-19 from an animal source? </h2>
    <p>Coronaviruses are a large family of viruses that are common in animals. Occasionally, people get infected with these viruses which may then spread to other people. For example, SARS-CoV was associated with civet cats and MERS-CoV is transmitted by dromedary camels. Possible animal sources of COVID-19 have not yet been confirmed.  

        To protect yourself, such as when visiting live animal markets, avoid direct contact with animals and surfaces in contact with animals. Ensure good food safety practices at all times. Handle raw meat, milk or animal organs with care to avoid contamination of uncooked foods and avoid consuming raw or undercooked animal products.</p>
</li>

<li>
    <h2>Q: Is it safe to receive a package from any area where COVID-19 has been reported? </h2>
    <p>Yes. The likelihood of an infected person contaminating commercial goods is low and the risk of catching the virus that causes COVID-19 from a package that has been moved, travelled, and exposed to different conditions and temperature is also low. </p>
</li>

<li>
    <h2>Q:  How long does the virus survive on surfaces? </h2>
    <p>It is not certain how long the virus that causes COVID-19 survives on surfaces, but it seems to behave like other coronaviruses. Studies suggest that coronaviruses (including preliminary information on the COVID-19 virus) may persist on surfaces for a few hours or up to several days. This may vary under different conditions (e.g. type of surface, temperature or humidity of the environment).

        If you think a surface may be infected, clean it with simple disinfectant to kill the virus and protect yourself and others. Clean your hands with an alcohol-based hand rub or wash them with soap and water. Avoid touching your eyes, mouth, or nose.</p>
</li>

<li>
    <h2>
        Q: Why it's so Important?
    </h2>
    <p>SARS-CoV-2 is a highly infectious and potentially deadly virus that causes a respiratory disease called COVID-19. You might know it under one of its many other names, including 2019-nCoV, novel coronavirus, Wuhan coronavirus, China or Wuhan flu, or just simply coronavirus. All of these refer to the same virus that this movement is trying to stop.

        Over the past months and weeks, the virus and corresponding disease have been compared over and over to the influenza virus and the seasonal flu. Due to the overlap in symptoms and seemingly similar severity, this comparison comes naturally to a lot of people, however, looking at what we know so far about this new virus, the threat it poses to society is not easily brushed aside.
        
            More Contagious Than the Flu
        
            With an estimated R0 (the expected number of cases directly generated by one case in a population where all individuals are susceptible to infection) between 1.4 – 6.49 and a mean estimate of 3.28[1], SARS-CoV-2 is much more infectious and spreads much faster than the seasonal flu, which has a median R0 of 1.28[2].
        
            More Deadly Than the Flu
        
            The so-called case fatality rate (CFR) of SARS-CoV-2 is estimated to be at around 2%[3], meaning that an estimated 2% of people getting diagnosed with COVID-19 will succumb to it. In comparison, the CFR of seasonal influenza is estimated to be around 0.1%[4], which means SARS-CoV-2 is estimated to be about 20 times more deadly than the seasonal flu.
        
            Possibility of Severe Symptoms
        
            An estimated 15 – 20% of infected individuals suffer from severe symptoms that require medical attention[5], including pneumonia with shortness of breath and lowered blood oxygen saturation.
            No Treatment, No Vaccine, No Immunity
        
            As SARS-CoV-2 has only recently emerged, there is no well-studied treatment for COVID-19 and more research is needed in order to treat infected people efficiently. Likewise, there is no vaccine for SARS-CoV-2 yet[6] and the development of such a vaccine will take a significant amount of time. With no vaccines and no prior wide-spread immunity, everyone is a susceptible target for infection. While most infected people will only suffer from mild symptoms, this lack of herd-immunity can lead to severe illness in a significant number of at-risk individuals.
            Exponential Growth
        
            Due to the lack of immunity to this new virus, the entire human population is the upper limit of possible infections. And although exponential growth always seems slow at first, it can lead to unfathomably high numbers in a rather short time. With the number of infected people currently doubling in a matter of days[7], our medical systems will potentially be overloaded, which will lead to higher numbers of fatalities due to people not receiving the care they need.</p>
</li>

<li>
    <h2>Q: What is the difference between COVID-19 and the flu?</h2>
    <p>The first symptoms of COVID-19 and influenza (flu) infections are often very similar. They both cause fever and similar respiratory symptoms, which can then range from mild through to severe disease, and sometimes can be fatal.
        Both viruses are also transmitted in the same way, by coughing or sneezing, or by contact with hands, surfaces or objects contaminated with the virus. As a result, the same public health measures, such as hand hygiene (hand washing), good respiratory etiquette (coughing into your elbow or into a tissue and immediately disposing of the tissue) and good household cleaning are important actions to prevent both infections.
        The speed of transmission is an important difference between the two viruses. Influenza typically has a shorter incubation period (the time from infection to appearance of symptoms) than COVID-19. This means that influenza can spread faster than COVID-19.
        While the range of symptoms for the two viruses is similar, the fraction with severe disease appears to be higher for COVID-19. While most people have mild symptoms, approximately 15% of people have severe infections and 5% require intensive care in a hospital ICU. The proportions of severe and critical COVID-19 infections are higher than for influenza infections.</p>
</li>

<li>
    <h2>Q: How long does the COVID-19 infection last?</h2>
    <p>The infection period for the virus will vary from person to person. Mild symptoms in an otherwise healthy individual may resolve over just a few days. Similar to influenza, for an individual with other ongoing health issues, such as a respiratory condition, recovery may take weeks and in severe cases could be potentially fatal.</p>
</li>

<li>
    <h2>Q: What should I do if I come into contact with a person who has been identified as a contact?</h2>
    <p>If you have been in contact with a person identified as a close contact of another person with confirmed COVID-19 infection, you do not need to self-isolate (although the close contact does) and don’t need take any other special precautions.
        If a close contact develops symptoms and is confirmed as a COVID-19 case, public health authorities will determine who, if anyone, has been in close contact with them while they were infectious, and these people will be directed to self-isolate.</p>
</li>

</ul>


<script>
    let mainNav = document.getElementById('js-menu');let navBarToggle = document.getElementById('js-navbar-toggle');
  navBarToggle.addEventListener('click', function () {
      mainNav.classList.toggle('active');});
  </script>
  
  <%- include('includes/footer') %>