<%- include('includes/header') %>

<div id="dos">
    <span style="font-size: 20px; font-weight: 3000;"><b>Things to follow </b></span>
  </div>

<div id="row" class="row">
  <div id="col" class="col-xs-10 col-sm-4 col-md-2 col-lg-2">
    <img src="https://i.imgur.com/pPuuuNi.jpg" alt="Avatar" style="width:100%">
    <div id="container" class="container-xs-10 container-sm-4 container-md-4 container-lg-3">
      <h4><b>Wash Hands</b></h4> 
      <p>Practice frequent hand washing. Wash hands with soap and water or use alcohol based hand rub.
        Wash hands even if they are visibly clean.
      </p> 
    </div>
  </div>

  <div id="col" class="col-xs-10 col-sm-4 col-md-2 col-lg-2">
  <img src="https://i.imgur.com/pPuuuNi.jpg" alt="Avatar" style="width:100%">
  <div id="container" class="container-xs-10 container-sm-4 container-md-4 container-lg-3">
    <h4><b>Cover Mouth</b></h4> 
    <p>Cover your nose and mouth with handkerchief/tissue while sneezing and coughing</p> 
  </div>
</div>

<div id="col" class="col-xs-10 col-sm-4 col-md-2 col-lg-2">
  <img src="https://i.imgur.com/pPuuuNi.jpg" alt="Avatar" style="width:100%">
  <div id="container" class="container-xs-10 container-sm-4 container-md-4 container-lg-3">
    <h4><b>Dispose Waste</b></h4> 
    <p>Throw used tissues into closed bins immediately after use. 
      Avoid littering your watse such as plastic bags, wrappers, masks, etc in public. </p> 
  </div>
</div>

<div id="col" class="col-xs-10 col-sm-4 col-md-2 col-lg-2">
  <img src="https://i.imgur.com/pPuuuNi.jpg" alt="Avatar" style="width:100%">
  <div id="container" class="container-xs-10 container-sm-4 container-md-4 container-lg-3">
    <h4><b>Receive Health Support</b></h4> 
    <p>See a doctor if you feel unwell (fever, difficult breathing and cough).
       While visiting a doctor wear mask to cover your mouth and nose.
    </p> 
  </div>
</div>

<div id="col" class="col-xs-10 col-sm-4 col-md-2 col-lg-2">
  <img src="https://i.imgur.com/pPuuuNi.jpg" alt="Avatar" style="width:100%">
  <div id="container" class="container-xs-10 container-sm-4 container-md-4 container-lg-3">
    <h4><b>Avoid Public Gatherings</b></h4> 
    <p> Avoid participating in large gatherings such as Marriages, Birthday Parties, Public Shows and Rallies.
    </p> 
  </div>
</div>

<div id="col" class="col-xs-10 col-sm-4 col-md-2 col-lg-2">
  <img src="https://i.imgur.com/pPuuuNi.jpg" alt="Avatar" style="width:100%">
<div id="container" class="container-xs-10 container-sm-4 container-md-4 container-lg-3">
    <h4><b>Avoid Shaking Hands</b></h4> 
    <p> Avoid shaking hands with people as greeting gesture. You can instead use the 
      Traditional Indian way of gretting with NAMASTE.
    </p> 
  </div>
</div>

<div id="col" class="col-xs-10 col-sm-4 col-md-2 col-lg-2">
  <img src="https://i.imgur.com/pPuuuNi.jpg" alt="Avatar" style="width:100%">
<div id="container" class="container-xs-10 container-sm-4 container-md-4 container-lg-3">
    <h4><b>Avoid Travelling</b></h4> 
    <p> Avoid travel unless necessary. Try to avoid going to places like airport, 
      railway station, bus stands if not necessary.
    </p> 
  </div>
</div>

<div id="col" class="col-xs-10 col-sm-4 col-md-2 col-lg-2">
  <img src="https://i.imgur.com/pPuuuNi.jpg" alt="Avatar" style="width:100%">
<div id="container" class="container-xs-10 container-sm-4 container-md-4 container-lg-3">
    <h4><b>Maintain Social Distance</b></h4> 
    <p> Try maintianing a distance of atleast 1 to 2 meters from other people and avoid socialising
      with others.
    </p> 
  </div>
</div>


<div id="col" class="col-xs-10 col-sm-4 col-md-2 col-lg-2">
  <img src="https://i.imgur.com/pPuuuNi.jpg" alt="Avatar" style="width:100%">
<div id="container" class="container-xs-10 container-sm-4 container-md-4 container-lg-3">
    <h4><b>Wash and Cook Foods Properly</b></h4> 
    <p> Wash all uncooked etables properly like vegetables, fruits and raw meat. Avoid consumption of partially cooked meat. 
    </p> 
  </div>
</div>

<div id="col" class="col-xs-10 col-sm-4 col-md-2 col-lg-2">
  <img src="https://i.imgur.com/pPuuuNi.jpg" alt="Avatar" style="width:100%">
<div id="container" class="container-xs-10 container-sm-4 container-md-4 container-lg-3">
    <h4><b>Contact Helpline for Queries</b></h4> 
    <p> For any queries regarding COVID-19 you may contact the Ministry of 
      Health & Family Welfare 24X7 helpline at 011-23978046. 
    </p> 
  </div>
</div>

</div>

<script>
  let mainNav = document.getElementById('js-menu');let navBarToggle = document.getElementById('js-navbar-toggle');
navBarToggle.addEventListener('click', function () {
    mainNav.classList.toggle('active');});
</script>

<%- include('includes/footer') %>
